.App {
  margin: auto;
  width: 45%;
}

.score {
  text-align: center;
  width: 600px;
}

#canvas {
  background-color: grey;
  /* height: 500px;
  width: 500px; */
  /* margin-left: 33%; */
}

.imgHider {
  visibility: hidden;
}

.iconFix {
  margin-left: 40%;
  margin-top: 20%;
}
