.App {
  margin-left: 33%;
}

.title {
  text-align: center;
  width: 700px;
}

#canvas {
  background-color: grey;
  /* height: 500px;
  width: 500px; */
  /* margin-left: 33%; */
}

.imgHider {
  visibility: hidden;
}
